<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <p>Welcome to Express</p>
    <div>
      <a href="/login">
        <button>Sign In with Username and Password</button>
      </a>
      &nbsp;&nbsp;
      <a href="/google/login">
        <button>Sign In with Google</button>
      </a>
    </div>
  </body>
</html>
